
// Fonts
$font-first: 'Roboto', sans-serif;

// Colors

$colors:(
    color1:#000000,
    color2:#ffffff,
    color3:#808080,
    color4:#dc3545,
    color5:#f8f9fa,
    color6:#ffca45
);

// Rojo
$red-ribbon-50: #fef2f2;
$red-ribbon-100: #fee6e5;
$red-ribbon-200: #fccfcf;
$red-ribbon-300: #f9a8a8;
$red-ribbon-400: #f57779;
$red-ribbon-500: #ec474f;
$red-ribbon-600: #dc3545;
$red-ribbon-700: #b7192c;
$red-ribbon-800: #99182c;
$red-ribbon-900: #83182c;
$red-ribbon-950: #490812;

// Dorado
$sunglow-50: #fffaeb;
$sunglow-100: #fff1c6;
$sunglow-200: #ffe188;
$sunglow-300: #ffca45;
$sunglow-400: #ffb620;
$sunglow-500: #f99307;
$sunglow-600: #dd6c02;
$sunglow-700: #b74a06;
$sunglow-800: #94380c;
$sunglow-900: #7a2f0d;
$sunglow-950: #461702;