.navbar {
  margin: auto;
  position: fixed;
  top: 0;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1254901961);
}

.navbar-brand {
  margin: auto;
  display: flex;
  justify-content: flex-start;
}

.navbar-collapse {
  justify-content: center;
  width: 100%;
}

.navbar-nav {
  display: flex;
  justify-content: center;
}

.navbar-toggler {
  display: flex;
}

.nav-content-icon {
  display: flex;
  margin: auto;
}

.nav-icon {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  padding: 0 6px;
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 500;
}

.nav-item-mobile {
  padding: 0.5em 0;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.3em;
}

.nav-content-sm {
  margin: auto;
}

.nav-icon-sm {
  color: #808080;
  padding: 0 5px;
}

.nav-icon-sm:hover {
  color: #e4051e;
}

.nav-link {
  color: #808080 !important;
  font-family: "Roboto", sans-serif;
  font-size: 1.05rem !important;
}

.nav-link:hover {
  color: #e4051e !important;
}

.links-mobile {
  display: none;
  margin: auto;
}
@media screen and (max-width: 991px) {
  .links-mobile .links-mobile {
    display: none;
  }
}

* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f8f9fa !important;
}

.travel-index {
  display: flex;
  margin: auto;
  text-align: center;
  min-width: 280px;
  width: 280px;
  padding: 10px 0;
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 17px;
}
.travel-index__container {
  width: 100%;
  background-color: #ffffff;
  border-radius: 17px;
  border: 2px solid rgba(197, 197, 197, 0.2);
  transition: all 0.4s ease-out;
}
.travel-index__container:hover {
  transform: translateY(6px);
}
.travel-index__image {
  width: 100%;
  height: 240px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 17px 17px 0 0;
}
.travel-index__title {
  margin: auto;
  padding: 1rem 0 0.3rem 0;
}
.travel-index__date {
  font-size: 0.8rem;
  margin: auto;
}
.travel-index__price {
  color: #e4051e;
  font-weight: 700;
  margin: auto;
  padding: 0.6rem 0 0 0;
  font-size: 1.9rem;
}
.travel-index__priceType {
  color: #e4051e;
  font-size: 0.7rem;
}

.slider {
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 1000px) {
  .slider {
    overflow-x: scroll;
    width: 100%;
  }
}

.prev {
  left: 0;
  top: 55%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 50% !important;
}

.next {
  right: 0;
  top: 55%;
  transform: translate(50%, -50%);
  z-index: 1000;
  border-radius: 50% !important;
}

.control {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 10px;
}

.container {
  position: relative;
}

.btn-carousel {
  padding: 10px;
  border-radius: 50%;
  width: 45px;
}

.travel-info {
  font-family: "Roboto", sans-serif;
}
.travel-info__img-container {
  height: 89vh;
  position: relative;
}
@media only screen and (max-width: 700px) {
  .travel-info__img-container {
    height: 80vh;
  }
}
.travel-info__img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.travel-info__title-container {
  position: absolute;
  margin: auto;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.travel-info__title {
  text-align: center;
  margin: auto;
  font-size: 5rem;
  color: #ffffff;
  filter: drop-shadow(0px 0px 15px rgba(109, 109, 109, 0.1882352941));
}
@media only screen and (max-width: 700px) {
  .travel-info__title {
    font-size: 4rem;
  }
}
.travel-info__info-container {
  border-radius: 10px;
  background-color: #ffffff;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  height: 600px;
}
.travel-info__info-title {
  margin: 1rem auto;
  text-align: center;
  font-size: 2rem;
}
.travel-info__info-days {
  margin: 0 auto;
  text-align: center;
}
.travel-info__info-date {
  margin: 0.3rem auto;
  text-align: center;
  font-size: 0.78rem;
}
.travel-info__info-description {
  margin: auto;
  text-align: justify;
}
.travel-info__info-price {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  font-size: 2rem;
}
.travel-info__info-priceType {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  font-size: 0.8rem;
}
.travel-info__info-button {
  margin: 10px auto;
  justify-content: center;
  display: flex;
  font-size: 1.1rem;
  border-radius: 20px;
  padding: 7px 25px;
  border: none;
  color: #ffffff;
  background-color: #e4051e;
}
.travel-info__include-container {
  border-radius: 10px;
  margin: 20px auto;
  padding: 1.5rem;
  background-color: #ffffff;
}
.travel-info__include-title {
  margin: auto;
  font-size: 1.4rem;
}
.travel-info__include-items {
  padding: 0.5rem 1rem;
  margin: auto;
}/*# sourceMappingURL=style.css.map */