.navbar {
  margin: auto;
  position: fixed;
  top: 0;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1254901961);
}

.navbar-brand {
  margin: auto;
  display: flex;
  justify-content: flex-start;
}

.navbar-collapse {
  justify-content: center;
  width: 100%;
}

.navbar-nav {
  display: flex;
}

.navbar-toggler {
  display: flex;
}

.nav-content-icon {
  display: flex;
  margin: auto;
}

.nav-icon {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  margin: auto;
}

.nav-item-mobile {
  padding: 0.5em 0;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.3em;
}

.nav-content-sm {
  margin: auto;
  background-color: orange;
}

.nav-icon-sm {
  color: #808080;
  padding: 0 5px;
}

.nav-icon-sm:hover {
  color: #dc3545;
}

.nav-link {
  color: #808080 !important;
  font-family: "Roboto", sans-serif;
  font-size: 1rem !important;
}

.nav-link:hover {
  color: #dc3545 !important;
}

.links-mobile {
  display: none;
  margin: auto;
}
@media screen and (max-width: 991px) {
  .links-mobile .links-mobile {
    display: none;
  }
}

* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  background-color: #f8f9fa !important;
}

.travel-search {
  padding: 150px 0;
  background-image: url("https://cutewallpaper.org/23/travel-background-wallpaper/2261726028.jpg");
  background-position: center;
  background-size: cover;
  /* Barra del scroll */
  /* Pulgar del scroll */
  /* Hover del pulgar del scroll */
}
@media only screen and (max-width: 1000px) {
  .travel-search {
    padding: 100px 0;
  }
}
.travel-search__form {
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: center;
}
.travel-search__input {
  padding: 15px 20px;
  border: none;
  width: 100%;
  z-index: 1100;
  border-radius: 10px;
}
.travel-search__input:focus {
  outline: none;
}
.travel-search__button {
  border: none;
  background-color: #dc3545;
  color: #ffffff;
  border-radius: 0 10px 10px 0;
}
.travel-search__results {
  width: 48%;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 1000;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 230px;
  overflow-y: scroll;
  position: absolute;
  box-shadow: 0px 3px 10px -6px rgb(66, 68, 90);
  background-color: #ffffff;
}
@media only screen and (max-width: 1000px) {
  .travel-search__results {
    width: 80%;
  }
}
.travel-search__results::-webkit-scrollbar {
  width: 12px;
}
.travel-search__results::-webkit-scrollbar-track {
  background-color: #f8f9fa;
}
.travel-search__results::-webkit-scrollbar-thumb {
  background-color: #dc3545;
  border-radius: 15px;
}
.travel-search__results::-webkit-scrollbar-thumb:hover {
  background-color: #cd2334;
}
.travel-search__results-container {
  margin: auto;
  cursor: pointer;
}
.travel-search__results-container:hover {
  background-color: #f3f6fa;
}
.travel-search__results-title {
  font-size: 1rem;
  margin: auto;
}
.travel-search__results-price {
  margin: auto;
  font-weight: 700;
  font-size: 1.2rem;
  color: #dc3545;
}

.travel-index {
  display: flex;
  margin: auto;
  text-align: center;
  min-width: 280px;
  max-width: 280px;
  width: 280px;
  padding: 10px 0;
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 17px;
}
.travel-index__container {
  width: 100%;
  margin: auto 10px;
  background-color: #ffffff;
  border-radius: 17px;
  border: 2px solid rgba(197, 197, 197, 0.2);
  transition: all 0.4s ease-out;
}
.travel-index__container:hover {
  transform: translateY(6px);
}
.travel-index__image {
  width: 100%;
  height: 240px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 17px 17px 0 0;
}
.travel-index__title {
  margin: auto;
  padding: 1rem 0 0.3rem 0;
}
.travel-index__date {
  font-size: 0.8rem;
  margin: auto;
}
.travel-index__price {
  color: #dc3545;
  font-weight: 700;
  margin: auto;
  padding: 0.6rem 0 0 0;
  font-size: 1.9rem;
}
.travel-index__priceType {
  color: #dc3545;
  font-size: 0.7rem;
}

.slider {
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 1000px) {
  .slider {
    overflow-x: scroll;
    width: 100%;
  }
}

.prev {
  left: 0;
  top: 55%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 50% !important;
}

.next {
  right: 0;
  top: 55%;
  transform: translate(50%, -50%);
  z-index: 1000;
  border-radius: 50% !important;
}

.control {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 10px;
}

.container {
  position: relative;
}

.btn-carousel {
  padding: 10px;
  border-radius: 50%;
  width: 45px;
}

.travel-info {
  font-family: "Roboto", sans-serif;
}
.travel-info__img-container {
  height: 89vh;
  position: relative;
}
@media only screen and (max-width: 700px) {
  .travel-info__img-container {
    height: 80vh;
  }
}
.travel-info__img {
  height: 89vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.travel-info__title-container {
  position: absolute;
  z-index: 1000;
  margin: auto;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.travel-info__title {
  text-align: center;
  margin: auto;
  font-size: 5rem;
  color: #ffffff;
  filter: drop-shadow(0px 0px 15px rgba(109, 109, 109, 0.1882352941));
}
@media only screen and (max-width: 700px) {
  .travel-info__title {
    font-size: 4rem;
  }
}
.travel-info__icon-arrow {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  transform: scale(2);
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.travel-info__icon-arrow:hover {
  color: #dc3545;
}
.travel-info__info-container {
  border-radius: 10px;
  position: sticky;
  top: 5%;
  background-color: #ffffff;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  height: -moz-fit-content;
  height: fit-content;
}
@media only screen and (max-width: 991px) {
  .travel-info__info-container {
    position: inherit;
  }
}
.travel-info__info-title {
  margin: 1rem auto;
  text-align: center;
  font-size: 2rem;
}
.travel-info__info-days {
  margin: 0 auto;
  text-align: center;
}
.travel-info__info-date {
  margin: 0.3rem auto;
  text-align: center;
  font-size: 0.78rem;
}
.travel-info__info-description {
  margin: 1.3rem auto;
  text-align: start;
  padding: 0 0.5rem;
}
@media only screen and (max-width: 991px) {
  .travel-info__info-description {
    text-align: center;
  }
}
.travel-info__info-price {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  font-size: 2rem;
}
.travel-info__info-priceType {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  font-size: 0.8rem;
}
.travel-info__info-button {
  margin: 10px auto;
  justify-content: center;
  display: flex;
  font-size: 1.1rem;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  padding: 7px 25px;
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: #dc3545;
}
.travel-info__info-button:hover {
  border: 2px solid #dc3545;
  color: #dc3545;
  background-color: #ffffff;
}
.travel-info__include-container {
  border-radius: 10px;
  margin: 20px auto 0;
  padding: 1.5rem;
  background-color: #ffffff;
}
.travel-info__include-title {
  margin: auto;
  font-size: 1.4rem;
}
.travel-info__include-items {
  padding: 0.5rem 1rem;
  margin: auto;
}

@media only screen and (max-width: 991px) {
  .travel-packs {
    display: flex;
    flex-direction: column;
  }
}
.travel-packs__container-filters {
  margin-top: 25px;
  height: -moz-fit-content;
  height: fit-content;
  position: sticky;
  top: 25px;
  border-radius: 10px;
  background-color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .travel-packs__container-filters {
    position: relative;
    margin: 0 auto 20px;
  }
}
.travel-packs__filter {
  display: flex;
  margin: 20px auto;
}
.travel-packs__filter-price-input:focus {
  outline: none;
}
.travel-packs__container-travels {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.travel-packs__travel-container {
  margin: auto;
  cursor: pointer;
}
.travel-packs__travel {
  margin: 20px auto;
  border-radius: 15px;
  display: flex;
}
.travel-packs__image-container {
  height: 260px;
}
.travel-packs__image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.travel-packs__info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.travel-packs__data-container {
  margin: 10px 0 0 0;
}
@media only screen and (min-width: 768px) {
  .travel-packs__data-container {
    margin: 0 15px;
  }
}
.travel-packs__title {
  font-weight: 700;
  font-size: 1.6rem;
  margin: 0 0 3px 0;
}
.travel-packs__date {
  font-size: 0.8rem;
  font-weight: 400;
  margin: auto;
  padding: 5px 0;
}
.travel-packs__price {
  margin: auto;
  color: #dc3545;
  font-weight: 700;
  font-size: 1.9rem;
}
.travel-packs__priceType {
  margin: auto;
  font-size: 0.8rem;
}
.travel-packs__button {
  border: 2px solid #dc3545;
  background-color: #dc3545;
  color: #ffffff;
  border-radius: 20px;
  margin: 20px auto 5px;
  width: 150px;
  max-width: 150px;
  transition: all 0.2s ease-in-out;
}
.travel-packs__button:hover {
  background-color: #ffffff;
  color: #dc3545;
}
.travel-packs__filter-price {
  margin: auto;
}
.travel-packs__filter-price-input {
  text-align: center;
  display: flex;
  padding: 5px 0;
  margin: 0 auto;
  border: none;
  background-color: #f3f6fa;
  border-radius: 10px;
}
.travel-packs__filter-price-button {
  border-radius: 50px;
  height: 30px;
  width: 30px;
  margin: auto;
  align-items: center;
  border: none;
  background-color: inherit;
  color: white;
}
.travel-packs__filter-price-button-icon {
  display: flex;
  justify-content: center;
  transform: scale(1.3);
  color: #dc3545;
}/*# sourceMappingURL=style.css.map */