@forward "nav";

@use "utilities" as u;

*{
    box-sizing: 0;
    padding: 0;
    margin: 0;
    font-family: u.$font-first;
    user-select: none;
}

body{
    background-color: #f8f9fa !important;
}

// SEARCH

.travel-search{
    padding: 150px 0;
    background-image: url("https://cutewallpaper.org/23/travel-background-wallpaper/2261726028.jpg");
    background-position: center;
    background-size: cover;
    @media only screen and (max-width: 1000px) {
        padding: 100px 0;
    } 

        &__form{
            display: flex;
            width: 60%;
            margin: auto;
            justify-content: center;
        }

        &__input{
            padding: 15px 20px;
            border: none;
            width: 100%;
            z-index: 1100;
            border-radius: 10px;
        }

        &__input:focus{
            outline: none;
        }

        &__button{
            border: none;
            background-color: map-get(u.$colors, "color4");
            color: map-get(u.$colors, "color2");
            border-radius:  0 10px 10px 0;
        }

        // RESULTADOS

        &__results{
            width: 48%;
            margin: auto;
            left: 0;
            right: 0;
            z-index: 1000;
            height: fit-content;
            max-height: 230px;
            overflow-y: scroll;
            position: absolute;
            box-shadow: 0px 3px 10px -6px rgba(66, 68, 90, 1);
            background-color: map-get(u.$colors, "color2");

            @media only screen and (max-width: 1000px) {
                width: 80%;
            } 
        }

        &__results::-webkit-scrollbar {
            width: 12px;
        }

        /* Barra del scroll */
        &__results::-webkit-scrollbar-track{
            background-color: map-get(u.$colors, "color5");
        }

        /* Pulgar del scroll */
        &__results::-webkit-scrollbar-thumb {
            background-color: map-get(u.$colors, "color4");
            border-radius: 15px;
        }

        /* Hover del pulgar del scroll */
        &__results::-webkit-scrollbar-thumb:hover {
            background-color: #cd2334;
        }

        &__results-container{
            margin: auto;
            cursor: pointer;
        }

        &__results-container:hover{
            background-color: #f3f6fa;
        }

        &__results-title{
            font-size: 1rem;
            margin: auto;
        }

        &__results-price{
            margin: auto;
            font-weight: 700;
            font-size: 1.2rem;
            color: map-get(u.$colors, "color4");
        }
}

// INDEX

.travel-index{
    display: flex;
    margin: auto;
    text-align: center;
    min-width: 280px;
    max-width: 280px;
    width: 280px;
    padding: 10px 0;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 17px;

        &__title-index{
            
        }

        &__container{
            width: 100%;
            margin: auto 10px;
            background-color: map-get(u.$colors, "color2");
            border-radius: 17px;
            border: 2px solid rgb(197, 197, 197, 20%);
            transition: all 0.4s ease-out;
        }

        &__container:hover{
            transform: translateY(6px);
        }

        &__image{
            width: 100%;
            height: 240px;
            margin: auto;
            object-fit: cover;
            border-radius: 17px 17px 0 0;
        }

        &__title{
            margin: auto;
            padding: 1rem 0 0.3rem 0;
        }

        &__date{
            font-size: 0.8rem;
            margin: auto;
        }

        &__price{
            color: map-get(u.$colors, "color4");
            font-weight: 700;
            margin: auto;
            padding: 0.6rem 0 0 0;
            font-size: 1.9rem;
        }

        &__priceType{
            color: map-get(u.$colors, "color4");
            font-size: 0.7rem;
        }
}

.slider{
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;

    @media only screen and (max-width: 1000px) {
        overflow-x: scroll;
        width: 100%;
    } 

    
}

.prev{
    left: 0;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 50% !important;
}
  
.next{
    right: 0;
    top: 55%;
    transform: translate(50%, -50%);
    z-index: 1000;
    border-radius: 50% !important;
}
  
.control {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: contain;
    padding: 10px;
}
  
.container{
    position: relative;
}
  
.btn-carousel{  
    padding: 10px;
    border-radius: 50%;
    width: 45px;
}

// TRAVEL-INFO

.travel-info{
    font-family: u.$font-first;
    
        &__img-container{
            height: 89vh;
            position: relative;

            @media only screen and (max-width: 700px){
                height: 80vh;
            }
        }

        &__img{
            height: 89vh;
            object-fit: cover;
        }

        &__title-container{
            position: absolute;
            z-index: 1000;
            margin: auto;
            display: flex;
            flex-direction: column;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        &__title{
            text-align: center;
            margin: auto;
            font-size: 5rem;
            color: map-get(u.$colors, "color2");
            filter: drop-shadow(0px 0px 15px #6d6d6d30);

            @media only screen and (max-width: 700px){
                font-size: 4rem;
            }
        }

        &__icon-arrow{
            margin: auto;
            width: fit-content;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 5%;
            transform: scale(2);
            color: map-get(u.$colors, "color2");
            transition: all 0.2s ease-in-out;
        }

        &__icon-arrow:hover{
            color: map-get(u.$colors, "color4");
        }

        // Info

        &__info-container{
            border-radius: 10px;
            position: sticky;
            top: 5%;
            background-color: map-get(u.$colors, "color2");
            margin: 20px auto;
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
            height: fit-content;

            @media only screen and (max-width: 991px){
                position:inherit;
            }
        }

        &__info-title{
            margin: 1rem auto;
            text-align: center;
            font-size: 2rem;
        }

        &__info-days{
            margin: 0 auto;
            text-align: center;
        }

        &__info-date{
            margin: 0.3rem auto;
            text-align: center;
            font-size: 0.78rem;
        }

        &__info-description{
            margin: 1.3rem auto;
            text-align: start;
            padding: 0 0.5rem;

            @media only screen and (max-width: 991px){
                text-align: center;
            }
        }

        &__info-price{
            margin: 0 auto;
            justify-content: center;
            display: flex;
            font-size: 2rem;
        }

        &__info-priceType{
            margin: 0 auto;
            justify-content: center;
            display: flex;
            font-size: 0.8rem;
        }

        &__info-button{
            margin: 10px auto;
            justify-content: center;
            display: flex;
            font-size: 1.1rem;
            border-radius: 20px;
            transition: all 0.2s ease-in-out;
            padding: 7px 25px;
            border: 2px solid map-get(u.$colors, "color2");
            color: map-get(u.$colors, "color2");
            background-color: map-get(u.$colors, "color4");
        }

        &__info-button:hover{
            border: 2px solid map-get(u.$colors, "color4");
            color: map-get(u.$colors, "color4");
            background-color: map-get(u.$colors, "color2");
        }

        // Incluye

        &__include-container{
            border-radius: 10px;
            margin:20px auto;
            padding: 1.5rem;
            background-color: map-get(u.$colors, "color2");
        }

        &__include-title{
            margin: auto;
            font-size: 1.4rem;
        }

        &__include-items-container{
        }

        &__include-items{
            padding: 0.5rem 1rem;
            margin: auto;
        }

}

// TRAVEL PACKAGES

.travel-packs{

    @media only screen and (max-width: 991px){
        display: flex;
        flex-direction: column;
    }

        // Packages filters
        
        &__container-filters{
            margin-top: 25px;
            height: fit-content;
            position: sticky;
            top: 25px;
            border-radius: 10px;
            background-color: map-get(u.$colors, "color2");

            @media only screen and (max-width: 991px){
                position: relative;
                margin: 0 auto 20px;
            }
        }

        &__filter-container{
            
        }

        &__filter{
            display: flex;
            margin: 20px auto;
        }

        &__filter-price-input:focus{
            outline: none;
        }

        // Packages travels

        &__container-travels{
            border-radius: 10px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 auto;
        }

        &__travel-container{
            margin: auto;
        }

        &__travel{
            margin: 20px auto;
            border-radius: 15px;
            display: flex;
        }

        &__image-container{
            height: 260px;
            
        }

        &__image{
            height: 100%;
            object-fit: cover;
        }

        &__info-container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__data-container{
            margin: 10px 0 0 0;

            @media only screen and (min-width: 768px){
                margin: 0 15px;
            }
        }

        &__title{
            font-weight: 700;
            font-size: 1.6rem;
            margin: 0 0 3px 0;
        }

        &__date{
            font-size: 0.8rem;
            font-weight: 400;
            margin: auto;
            padding: 5px 0;
        }

        &__price{
            margin: auto;
            color: map-get(u.$colors, "color4");
            font-weight: 700;
            font-size: 1.9rem;
        }

        &__priceType{
            margin: auto;
            font-size: 0.8rem;
        }

        &__button{
            border: 2px solid map-get(u.$colors, "color4");
            background-color: map-get(u.$colors, "color4");
            color: map-get(u.$colors, "color2");
            border-radius: 20px;
            margin: 20px auto 5px;
            width: 150px;
            max-width: 150px;
            transition: all 0.2s ease-in-out;
        }

        &__button:hover{
            background-color: map-get(u.$colors, "color2");
            color: map-get(u.$colors, "color4");
        }

        // Filter price

        &__filter-price{
            margin: auto;
        }

        &__filter-price-input{
            text-align:center;
            display: flex;
            padding: 5px 0;
            margin: 0 auto;
            border: none;
            background-color: #f3f6fa;
            border-radius: 10px;
        }

        &__filter-price-button{
            border-radius: 50px;
            height: 30px;
            width: 30px;
            margin: auto;
            align-items: center;
            border: none;
            background-color: inherit;
            color: white;
        }

        &__filter-price-button-icon{
            display: flex;
            justify-content: center;
            transform: scale(1.3);
            color: map-get(u.$colors, "color4");
        }
}