header {
  position: sticky;
  top: 0;
  z-index: 5000;
}

.navbar {
  margin: auto;
  text-align: center;
  background-color: #f8f9fa;
  transition: all 0.3s;
}

.navbar-brand {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  opacity: 0.9;
}

.navbar-collapse {
  justify-content: center;
  width: 100%;
}

.navbar-nav {
  display: flex;
}

.navbar-toggler {
  display: flex;
}

.nav-content-icon {
  display: flex;
  margin: auto;
}

.nav-icon {
  display: flex;
  justify-content: flex-end;
  color: #dc3545;
}

.nav-item {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  margin: auto;
}

.nav-item-mobile {
  padding: 0.5em 0;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.3em;
}

.nav-content-sm {
  margin: auto;
  background-color: orange;
}

.nav-icon-sm {
  color: #808080;
  padding: 0 5px;
}
.nav-icon-sm:hover {
  color: #dc3545;
}

.nav-link {
  color: #dc3545;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem !important;
  cursor: pointer;
}

.nav-link:hover {
  color: #ffb620 !important;
}

.links-mobile {
  display: none;
  margin: auto;
}

.login__logo {
  opacity: 0.8;
}
.login__button {
  background-image: linear-gradient(to right, #f57779, #dc3545);
}
.login__button:hover {
  background-image: linear-gradient(to right, #ec474f, #b7192c);
}
.login__button:active {
  background-image: linear-gradient(to right, #dc3545, #99182c);
}

* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f8f9fa !important;
}

.btnRed {
  margin: 10px auto;
  justify-content: center;
  display: flex;
  font-size: 1.1rem;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  padding: 7px 25px;
  border: none;
  color: #ffffff;
  background-image: linear-gradient(to right, #f57779, #dc3545);
}
.btnRed:hover {
  background-image: linear-gradient(to right, #ec474f, #b7192c);
}
.btnRed:active {
  background-image: linear-gradient(to right, #dc3545, #99182c);
}

.banner {
  font-family: "Roboto", sans-serif;
  flex-wrap: wrap;
  display: flex;
  margin: auto;
  border-radius: 30px;
  height: -moz-fit-content;
  height: fit-content;
  background-image: linear-gradient(to right, #ec474f, #b7192c);
}
@media only screen and (max-width: 991px) {
  .banner {
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.banner__search-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.banner__search-title {
  display: flex;
  text-align: left;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 800;
}
@media only screen and (max-width: 991px) {
  .banner__search-title {
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 2rem;
  }
}
@media only screen and ((min-width: 991px) and (max-width: 1200px)) {
  .banner__search-title {
    font-size: 2rem;
  }
}
.banner__search-subtitle {
  color: #ffe188;
  font-size: 1.2rem;
  line-height: 1.8rem;
  opacity: 0.95;
}
@media only screen and (max-width: 991px) {
  .banner__search-subtitle {
    margin: 1rem auto;
    padding: 0 1rem;
  }
}
.banner__search-form {
  display: flex;
  width: 60%;
}
@media only screen and (max-width: 991px) {
  .banner__search-form {
    margin: 1rem 0 2rem;
    justify-content: center;
    padding: 0 1rem 0.7rem;
  }
}
.banner__search-input {
  padding: 15px 20px !important;
  border: 2px solid #ffffff !important;
  width: 100% !important;
  border-radius: 10px !important;
  background-color: inherit !important;
  color: #ffffff !important;
}
.banner__search-input:focus {
  outline: none;
}
.banner__search-input::-moz-placeholder {
  color: #ffffff !important;
}
.banner__search-input::placeholder {
  color: #ffffff !important;
}
.banner__search-button {
  border: none;
  background-color: #dc3545;
  color: #ffffff;
  border-radius: 0 10px 10px 0;
}
.banner__search-results {
  width: 30rem;
  margin: 7rem 1rem;
  z-index: 1000;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 230px;
  overflow-y: scroll;
  position: absolute;
  box-shadow: 0px 3px 10px -6px rgb(66, 68, 90);
  background-color: #ffffff;
  /* Barra del scroll */
  /* Pulgar del scroll */
  /* Hover del pulgar del scroll */
}
@media only screen and (max-width: 767px) {
  .banner__search-results {
    width: 75%;
    margin: 4rem 1rem;
  }
}
@media only screen and ((min-width: 768px) and (max-width: 991px)) {
  .banner__search-results {
    width: 35rem;
    margin: 4rem 1rem;
  }
}
@media only screen and ((min-width: 992px) and (max-width: 1199px)) {
  .banner__search-results {
    width: 20rem;
    margin: 4rem 1rem;
  }
}
@media only screen and ((min-width: 1200px) and (max-width: 1399px)) {
  .banner__search-results {
    width: 25rem;
    margin: 5rem 1rem;
  }
}
.banner__search-results::-webkit-scrollbar {
  width: 12px;
}
.banner__search-results::-webkit-scrollbar-track {
  background-color: #f8f9fa;
}
.banner__search-results::-webkit-scrollbar-thumb {
  background-color: #dc3545;
  border-radius: 15px;
}
.banner__search-results::-webkit-scrollbar-thumb:hover {
  background-color: #cd2334;
}
.banner__search-results-container {
  margin: auto;
  cursor: pointer;
}
.banner__search-results-container:hover {
  background-color: #f3f6fa;
}
.banner__search-results-title {
  font-size: 1rem;
  font-weight: 400;
  margin: auto;
}
.banner__search-results-price {
  margin: auto;
  font-weight: 700;
  font-size: 1.2rem;
  color: #dc3545;
}
.banner__img-container {
  display: flex;
  margin: 0 auto;
  height: 100%;
}
.banner__img {
  height: 100%;
  margin: auto 0;
  -o-object-fit: contain;
     object-fit: contain;
  display: flex;
}
@media only screen and (min-width: 1400px) {
  .banner__img {
    padding: 1rem;
  }
}

.travel-index {
  display: flex;
  margin: auto;
  text-align: center;
  min-width: 280px;
  max-width: 280px;
  width: 280px;
  padding: 10px 0;
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 17px;
}
.travel-index__container {
  width: 100%;
  margin: auto 10px;
  background-color: #ffffff;
  border-radius: 17px;
  border: 1px solid rgba(197, 197, 197, 0.2);
  transition: all 0.2s;
}
.travel-index__container:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px 1px rgba(180, 180, 180, 0.1);
}
.travel-index__title-index {
  font-weight: 700;
  color: #dc3545;
}
.travel-index__image {
  width: 100%;
  height: 240px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 17px 17px 0 0;
}
.travel-index__title {
  margin: auto;
  font-size: 1rem;
  padding: 1rem 0 0.3rem 0;
}
.travel-index__date {
  font-size: 0.8rem;
  margin: auto;
}
.travel-index__price {
  color: #dc3545;
  font-weight: 700;
  margin: auto;
  padding: 0.6rem 0 0 0;
  font-size: 1.5rem;
}
.travel-index__priceType {
  color: #dc3545;
  font-size: 0.7rem;
}

.slider {
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 1000px) {
  .slider {
    overflow-x: scroll;
    width: 100%;
  }
}

.prev {
  left: 0;
  top: 55%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 50% !important;
}

.next {
  right: 0;
  top: 55%;
  transform: translate(50%, -50%);
  z-index: 1000;
  border-radius: 50% !important;
}

.control {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 10px;
  border: none;
  color: #ffffff;
  background-image: linear-gradient(to right, #f57779, #dc3545);
}
.control:hover {
  background-image: linear-gradient(to right, #ffca45, #f99307);
}
.control:active {
  background-image: linear-gradient(to right, #ffb620, #dd6c02);
}

.container {
  position: relative;
}

.btn-carousel {
  padding: 10px;
  border-radius: 50%;
  width: 45px;
}

.travel-info {
  font-family: "Roboto", sans-serif;
}
.travel-info__img-container {
  height: 89vh;
  position: relative;
}
@media only screen and (max-width: 700px) {
  .travel-info__img-container {
    height: 80vh;
  }
}
.travel-info__img {
  height: 89vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.travel-info__title-container {
  position: absolute;
  z-index: 1000;
  margin: auto;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.travel-info__title {
  text-align: center;
  margin: auto;
  font-size: 5rem;
  color: #ffffff;
  filter: drop-shadow(0px 0px 15px rgba(109, 109, 109, 0.1882352941));
}
@media only screen and (max-width: 700px) {
  .travel-info__title {
    font-size: 4rem;
  }
}
.travel-info__icon-arrow {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  transform: scale(2);
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.travel-info__icon-arrow:hover {
  color: #dc3545;
}
.travel-info__info-container {
  border-radius: 10px;
  position: sticky;
  top: 5%;
  background-color: #ffffff;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0 0 20px 1px rgba(180, 180, 180, 0.1);
}
@media only screen and (max-width: 991px) {
  .travel-info__info-container {
    position: inherit;
  }
}
.travel-info__info-title {
  margin: 1rem auto;
  text-align: center;
  font-size: 2rem;
}
.travel-info__info-days {
  margin: 0 auto;
  text-align: center;
}
.travel-info__info-date {
  margin: 0.3rem auto;
  text-align: center;
  font-size: 0.78rem;
}
.travel-info__info-description {
  margin: 1.3rem auto;
  text-align: start;
  padding: 0 0.5rem;
}
@media only screen and (max-width: 991px) {
  .travel-info__info-description {
    text-align: center;
  }
}
.travel-info__info-price {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  font-size: 2rem;
}
.travel-info__info-priceType {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  font-size: 0.8rem;
}
.travel-info__info-button {
  margin: 10px auto;
  justify-content: center;
  display: flex;
  font-size: 1.1rem;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  padding: 7px 25px;
  border: none;
  color: #ffffff;
  background-image: linear-gradient(to right, #f57779, #dc3545);
}
.travel-info__info-button:hover {
  background-image: linear-gradient(to right, #ec474f, #b7192c);
}
.travel-info__info-button:active {
  background-image: linear-gradient(to right, #dc3545, #99182c);
}
.travel-info__btnInfo {
  background-image: linear-gradient(to right, #f57779, #dc3545);
  color: white;
}
.travel-info__include-container {
  border-radius: 10px;
  margin: 20px auto 0;
  box-shadow: 0 0 20px 1px rgba(180, 180, 180, 0.1);
  background-color: #ffffff;
}
.travel-info__btn-info {
  border-radius: 10px 0 0 0;
  background-color: #f8f9fa;
  border-right: 3px solid #ffffff;
  cursor: pointer;
}
@media only screen and (max-width: 575px) {
  .travel-info__btn-info {
    border-bottom: 2px solid #ffffff;
    border-right: 0;
    border-radius: 10px 10px 0 0;
    margin: 0;
  }
}
.travel-info__btn-galeria {
  background-color: #f8f9fa;
  border-right: 3px solid #ffffff;
  cursor: pointer;
}
@media only screen and (max-width: 575px) {
  .travel-info__btn-galeria {
    border-bottom: 2px solid #ffffff;
    border-right: 0;
    margin: 0;
  }
}
.travel-info__btn-opinion {
  border-radius: 0 10px 0 0;
  background-color: #f8f9fa;
  cursor: pointer;
}
@media only screen and (max-width: 575px) {
  .travel-info__btn-opinion {
    border-radius: 0;
  }
}
.travel-info__gallery-container {
  height: 800px;
  overflow-y: scroll;
  /* Barra del scroll */
  /* Pulgar del scroll */
  /* Hover del pulgar del scroll */
}
.travel-info__gallery-container::-webkit-scrollbar {
  width: 12px;
}
.travel-info__gallery-container::-webkit-scrollbar-track {
  background-color: #f8f9fa;
}
.travel-info__gallery-container::-webkit-scrollbar-thumb {
  background-color: #dc3545;
  border-radius: 15px;
}
.travel-info__gallery-container::-webkit-scrollbar-thumb:hover {
  background-color: #cd2334;
}
.travel-info__include-info {
  padding: 1rem 1.5rem;
}
.travel-info__gallery-img {
  margin: 0.5rem 0;
  padding: 0 1rem;
}
.travel-info__include-title {
  margin: auto;
  font-size: 1.4rem;
}
.travel-info__include-items {
  padding: 0.5rem 1rem;
  margin: auto;
}

@media only screen and (max-width: 991px) {
  .travel-packs {
    display: flex;
    flex-direction: column;
  }
}
.travel-packs__container-filters {
  height: -moz-fit-content;
  height: fit-content;
  position: sticky;
  top: 102px;
  border-radius: 10px;
}
@media only screen and (max-width: 991px) {
  .travel-packs__container-filters {
    top: 25px;
    position: relative;
    margin: 0 auto 20px;
  }
}
.travel-packs__filter-price-input:focus {
  outline: none;
}
.travel-packs__container-travels {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.travel-packs__travel-container {
  margin: 20px auto;
  border-radius: 10px;
  display: flex;
  transition: all 0.1s;
  cursor: pointer;
  background-color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .travel-packs__travel-container:hover {
    box-shadow: 0 0 20px 1px rgba(180, 180, 180, 0.2);
  }
}
.travel-packs__travel-container:hover .travel-packs__image {
  transform: scale(1.1);
}
.travel-packs__travel {
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
}
.travel-packs__image-container {
  height: 260px;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .travel-packs__image-container {
    border-radius: 10px 10px 0 0;
  }
}
.travel-packs__image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s;
  border-radius: 10px 0 0 10px;
}
@media only screen and (max-width: 768px) {
  .travel-packs__image {
    border-radius: 10px 10px 0 0;
  }
}
.travel-packs__info-container {
  display: flex;
  padding: 15px 5px;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .travel-packs__info-container {
    padding: 10px 15px;
  }
}
.travel-packs__data-container {
  margin: 10px 0 0 0;
}
@media only screen and (min-width: 768px) {
  .travel-packs__data-container {
    margin: 0 15px;
  }
}
.travel-packs__title {
  font-weight: 600;
  font-size: 1.4rem;
  margin: 0 0 10px 0;
}
.travel-packs__date {
  font-size: 0.8rem;
  font-weight: 400;
  margin: auto;
  padding: 4px 0;
}
.travel-packs__price {
  margin: auto;
  color: #dc3545;
  font-weight: 700;
  font-size: 1.9rem;
}
.travel-packs__priceType {
  margin: auto;
  font-size: 0.8rem;
}
.travel-packs__button {
  border: none;
  background-image: linear-gradient(to right, #f57779, #dc3545);
  color: #ffffff;
  border-radius: 20px;
  margin: 20px auto 5px;
  width: 150px;
  max-width: 150px;
  transition: all 0.2s ease-in-out;
}
.travel-packs__button:hover {
  background-image: linear-gradient(to right, #ec474f, #b7192c);
  color: #ffffff;
}
.travel-packs__button:active {
  background-image: linear-gradient(to right, #dc3545, #99182c);
}
.travel-packs__filter-price {
  margin: auto;
}
.travel-packs__filter-price-input {
  text-align: center;
  display: flex;
  padding: 5px 0;
  margin: 0 auto;
  border: none;
  background-color: #f3f6fa;
  border-radius: 10px;
}
.travel-packs__filter-price-button {
  border-radius: 50px;
  height: 30px;
  width: 30px;
  margin: auto;
  align-items: center;
  border: none;
  background-color: inherit;
  color: #ffffff;
}
.travel-packs__filter-price-button-icon {
  display: flex;
  justify-content: center;
  transform: scale(1.3);
  color: #dc3545;
}
.travel-packs__filterPackages {
  display: flex;
  justify-content: end;
  height: -moz-fit-content;
  height: fit-content;
}
.travel-packs__filterPackages-count {
  display: flex;
  margin: auto;
  justify-content: start;
  width: 100%;
  font-weight: 500;
}
.travel-packs__filterPackages-button {
  outline: 1px solid gray;
  height: -moz-fit-content;
  height: fit-content;
}
.travel-packs__filterPackages-link {
  cursor: pointer;
}

footer {
  width: 100%;
  display: flex;
  background-image: linear-gradient(to right, #ec474f, #b7192c);
}

.footer__logo {
  margin: 10px auto 30px;
  justify-content: center;
  display: flex;
}
.footer__links-container {
  display: flex;
  justify-content: center;
  margin: 25px auto;
}
.footer__links {
  margin: 20px 15px;
  background-image: linear-gradient(to right, #fef2f2, #fee6e5);
  padding: 15px 40px;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  color: #dc3545;
  font-weight: 500;
}
.footer__links:hover {
  background-image: linear-gradient(to right, #ffca45, #f99307);
  color: #ffffff;
}
.footer__links:active {
  background-image: linear-gradient(to right, #ffb620, #dd6c02);
}
.footer__sm-container {
  display: flex;
  justify-content: center;
  margin: auto;
}
.footer__sm-link {
  margin: auto;
  text-decoration: none;
  padding: 10px;
}
.footer__sm-link-icon {
  color: #dc3545;
  background-color: white;
  display: flex;
  padding: 13px;
  font-size: 1.3rem;
  transition: all 0.1s;
  background-image: linear-gradient(to right, #fef2f2, #fee6e5);
}
.footer__sm-link-icon:hover {
  transform: translateY(-5px);
  background-image: linear-gradient(to right, #ffca45, #f99307);
  box-shadow: 8px 8px 15px -5px rgba(131, 24, 44, 0.5);
  color: #ffffff;
}
.footer__sm-link-icon:active {
  background-image: linear-gradient(to right, #ffb620, #dd6c02);
}/*# sourceMappingURL=style.css.map */